@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col items-center;
  @apply text-lightgrey;
  @apply dark:bg-grey dark:text-white;
}

#root {
  @apply w-full max-w-screen-2xl;
  @apply flex flex-col items-center;
}

li {
  list-style: none;
}

input {
  outline: none;
  border-radius: 10px;
}

.swiper {
  width: 100%;
  padding-bottom: 80px;
  --swiper-theme-color: #ff1758;
  border-radius: 20px;
  margin-bottom: 20px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 420px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.poster {
  -webkit-box-reflect: below 20px
    linear-gradient(transparent, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  object-fit: cover;
  cursor: pointer;
}
